SUPABASE_URL=https://zpeearrlfugkfgvfnfnq.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpwZWVhcnJsZnVna2ZndmZuZm5xIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTkxNTQyODIsImV4cCI6MjA3NDczMDI4Mn0.1s1BvGUfsvuQAZdwZlr_U3Axghn-WwJ9RSzQQoGJlFg
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpwZWVhcnJsZnVna2ZndmZuZm5xIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1OTE1NDI4MiwiZXhwIjoyMDc0NzMwMjgyfQ.MK7_O3I5booIHX6yHUBEESYtYK7VqwbQ_7Woq6GZQg8
JWT_SECRET=wmttEWqR9boGTElW/G20q2dqRWx5YHovaekiKsk4fYkfrIwxoVxsq+TUmFujclglAJmuG6CjxQcPzqROX76tzg==
PORT=3001